*{
  padding: 0;
  margin: 0;
}

.header { 
  grid-area: header; 
  border: 1px solid red; 
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0; 
}
.header .search-box{
  border: 1px solid red; 
  
}
.animeInfo { 
  grid-area: animeInfo; 
  border: 1px solid red; 
}

.animeRow { 
  grid-area: animeRow;
}
.animeRow .row{
display: inline-flex;
gap: 1rem;

}
.animeSaved { grid-area: animeSaved; }
.card{
  width: 230px;
  height: 300px;
  padding: 0 0 1rem 0;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  text-align: center;
  overflow: hidden;
  position: relative;
  color: black;
}

.card img{
  width: 100%;
  height: 80%;
}