@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Jost', sans-serif;
}
body{
  background-color: rgb(32, 31, 31);
  color: white;

}
/*header*/
.header{
  width: 100%;
  height: 80px;
  background-color: rgb(32, 31, 31);
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 12;
}
.header .search-box input{
  outline: none;
  border: none;
  width: 350px;
  height: 30px;
  font-size: 1rem;
  padding: 10px;
  color: black;
}
/*--header--*/

.container{
  width: 100%;
  margin: 40px auto;
  display: flex;
}
.animeInfo{
  width: 320px;
  height: 100%;
  margin: 90px 0px 0px 10px;
  background-color: rgb(49, 47, 47);
  border-radius: 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11;
}

.animeRow{
  padding-left: 10px;
  margin-top: 34px;
  margin-left: 22rem;
}
.animeRow .row{
  display: inline-flex;
  gap: 20px;
  background-color: rgb(49, 47, 47);
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
}
.animeRow .textHeading{
  border-radius: 20px 20px 0px 0px;
  background-color: rgb(49, 47, 47);
  margin-top: 1rem;
  padding-left: 20px;
}
.animeRow .textHeading2{
  border-radius: 20px 20px 0px 0px;
  background-color: rgb(49, 47, 47);
  margin-top: 1rem;  
  padding-left: 20px;
}
.card{
 width: 230px;
 height: 300px;
 padding: 0 0 1rem 0;
 box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
 text-align: center;
 overflow: hidden;
 position: relative;
 color: black;
}

.card img{
  width: 100%;
  height: 80%;
}
.overlay{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  padding: 1rem;
  background-color: rgba(43, 226, 195, 0.492);
  text-align: justify;
  opacity: 0;
  transition: 0.5s;
}
.overlay .synopsis{
  width: 80%;
  height: 50%;
  margin: 0 auto;
  padding: 1rem;
  overflow: auto;
}
.card:hover .overlay{
  opacity: 1;
  height: 90%;
}
.anime-content img{
  aspect-ratio: 2/3;
  width: 150px;
  padding-left: 20px;
}
.score{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.scr-container{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
.anime-content h5{
  padding-left: 10px;
}
.mylist{
  position: absolute;
  bottom: 20px;
  right: 50px;
  padding: 0.5rem;
  background-color: aqua;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.favlist{
  height: 400px;
  content: "";
  background-color: rgb(49, 47, 47);
  border-radius: 20px;
}
span{
  color: aqua;
}
.trailer{
  padding-top: 10px;
  padding-left: 10px;
}